@use "../../../styles/variables" as *;

.paddingBlockXs {
  padding-block: $space-2;
}
.paddingBlockSm {
  padding-block: $space-3;
}
.paddingBlockMd {
  padding-block: $space-4;
}
.paddingBlockLg {
  padding-block: $space-6;
}
.paddingBlockXl {
  padding-block: $space-8;
}

.paddingInlineXs {
  padding-inline: $space-2;
}
.paddingInlineSm {
  padding-inline: $space-3;
}
.paddingInlineMd {
  padding-inline: $space-4;
}
.paddingInlineLg {
  padding-inline: $space-6;
}
.paddingInlineXl {
  padding-inline: $space-8;
}

.marginBlockXs {
  margin-block: $space-2;
}
.marginBlockSm {
  margin-block: $space-3;
}
.marginBlockMd {
  margin-block: $space-4;
}
.marginBlockLg {
  margin-block: $space-6;
}
.marginBlockXl {
  margin-block: $space-8;
}

.marginInlineXs {
  margin-inline: $space-2;
}
.marginInlineSm {
  margin-inline: $space-3;
}
.marginInlineMd {
  margin-inline: $space-4;
}
.marginInlineLg {
  margin-inline: $space-6;
}
.marginInlineXl {
  margin-inline: $space-8;
}

.spacer {
  flex-shrink: 0;
}
