@use "../../../styles/variables" as *;

.root {
  // Semantic section wrapper; layout via Flex, gap via Flex or Spacing
}

.spacingNone {
  padding-block: 0;
  padding-inline: 0;
}

.spacingSm {
  padding-block: $space-3;
  padding-inline: 0;
}

.spacingMd {
  padding-block: $space-4;
  padding-inline: 0;
}

.spacingLg {
  padding-block: $space-6;
  padding-inline: 0;
}

.spacingXl {
  padding-block: $space-8;
  padding-inline: 0;
}
