@use "../../../styles/variables" as *;

.root {
  margin: 0;
  line-height: 1.6;
}

// —— Size —————————————————————————————————————————————————————————————
.sizeXs {
  font-size: $font-size-xs;
}

.sizeSm {
  font-size: $font-size-sm;
}

.sizeMd {
  font-size: $font-size-base;
}

.sizeLg {
  font-size: $font-size-md;
}

.sizeXl {
  font-size: $font-size-lg;
}

.size2xl {
  font-size: $font-size-xl;
}

// —— Color ————————————————————————————————————————————————————————————
.colorDefault {
  color: var(--text);
}

.colorMuted {
  color: var(--text-muted);
}

.colorPrimary {
  color: var(--primary);
}

.colorAccent {
  color: var(--accent);
}

// —— Weight —————————————————————————————————————————————————────────——
.weightNormal {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightSemibold {
  font-weight: 600;
}

.weightBold {
  font-weight: 700;
}

// —— Style —————————————————————————————————————————————————────────————
.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
