@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

.wrapper {
  @include m.flex-center(row, $space-3);
}

.input {
  flex: 1;
}

.filters {
  display: flex;
  gap: $space-2;
  align-items: center;
}
