@use "../../../styles/variables" as *;

.heading {
  letter-spacing: -0.04em;
}

.h1 {
  font-size: clamp($font-size-xl, 4vw, $font-size-2xl);
  line-height: 1.05;
}

.h2 {
  font-size: clamp($font-size-lg, 3vw, 2.2rem);
  line-height: 1.1;
}

.h3 {
  font-size: $font-size-md;
  line-height: 1.3;
}
