@use "../../../styles/variables" as *;

.root {
  margin: 0 auto;
  padding: $space-12 $space-6 4rem;
  display: grid;
  gap: $space-8;
}

.narrow {
  max-width: 960px;
}

.wide {
  max-width: 72rem;
}
