@use "../../../styles/variables" as *;

.root {
  margin: 0 auto;
  padding: $space-12 $space-6 $space-16;
  display: grid;
  gap: $space-8;
}

.narrow {
  max-width: $content-max-width;
}

.wide {
  max-width: $prose-max-width;
}
