@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

.root {
  border-radius: 18px;
  border: 1px solid var(--border-subtle);
  padding: $space-4 $space-6;
  background-color: var(--bg-elevated);
  display: grid;
  gap: $space-3;
  @include m.subtle-ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
  }
}
