@use "../../../styles/variables" as *;

.root {
  display: flex;
}

.root--row {
  flex-direction: row;
}
.root--column {
  flex-direction: column;
}
.root--rowReverse {
  flex-direction: row-reverse;
}
.root--columnReverse {
  flex-direction: column-reverse;
}

.root--justifyStart {
  justify-content: flex-start;
}
.root--justifyEnd {
  justify-content: flex-end;
}
.root--justifyCenter {
  justify-content: center;
}
.root--justifyBetween {
  justify-content: space-between;
}
.root--justifyAround {
  justify-content: space-around;
}

.root--alignStart {
  align-items: flex-start;
}
.root--alignEnd {
  align-items: flex-end;
}
.root--alignCenter {
  align-items: center;
}
.root--alignStretch {
  align-items: stretch;
}
.root--alignBaseline {
  align-items: baseline;
}

.root--wrap {
  flex-wrap: wrap;
}
.root--nowrap {
  flex-wrap: nowrap;
}

.root--gapXs {
  gap: $space-2;
}
.root--gapSm {
  gap: $space-3;
}
.root--gapMd {
  gap: $space-4;
}
.root--gapLg {
  gap: $space-6;
}
.root--gapXl {
  gap: $space-8;
}
