@use "@/styles/variables" as *;

.media {
  aspect-ratio: 16 / 10;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.description {
  flex-grow: 1;
  margin: 0 0 $space-3 0;

  p {
    margin: 0;
    line-height: 1.55;
  }
}

.tagList {
  list-style: none;
  margin: 0 0 $space-4 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: $space-2;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: $space-4;
  margin-top: auto;
}
